:root{
    --primary-color:#30336b;
    --secondary-color: #be2edd;
}

*{
    box-sizing: border-box;
}

body{
    margin:0;
}

nav{
    width:200px;
    height:100vh;
    background-color:var(--primary-color);
    color:#fff;

    position:fixed;

    z-index: 100;

    border-right:2px solid rgba(200,200,200,1);

    top:0;
    left:0;
    /* transform: translateX(-100%); */

}

nav .logo img{
    width:75px;
    height:75px;
    border-radius: 50%;
}

nav .logo{

            /* top&bottom left&right */
    padding:30px 0;
    text-align: center;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    padding:20px;
    border-bottom: 2px solid rgba(200,200,200,1);
}

nav ul li:first-of-type{
    border-top: 2px solid rgba(200,200,200,1);
}